<body onkeydown='con(this,event)'>
	<audio id='audio' controls>
		<source src="Kyrie.wav" type="audio/wav">
	</audio><input id='iRate' size='3'><input type='button' onclick='mRate()'><br>
	<canvas height='400' width='600'></canvas><canvas height='400' width='600'></canvas><br>
	<canvas id='progreso' height='50' width='600'></canvas><br>
	<input id='pos' readonly='true'/><input id='tiempo' readonly='true'/><input id='segundos' readonly='true'/>
	<br>
	<input id='buscar'/><input type='button' onclick='bus()'/><input id='buscar2'/><br>
	<input id='dina'/><input type='button' onclick='dinamic()' value='x'/>
	<input id='limite'/>
	<textarea id='consola' readonly='true'></textarea>
	<script src='Seg01.js'></script>
	<script src='Kyrie.js'></script>
	<script src='Seg02.js'></script>
	<script src='Seg03.js'></script>
</body>